body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('https://img.freepik.com/free-photo/close-up-baker-bakery-shop_23-2149233716.jpg?t=st=1735841909~exp=1735845509~hmac=ed42dbdaa0acf81c249a8b13b1e6e8cdf14d8d781ade5ebf4ea81ecc506235dc&w=1380'); Replace with your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1250px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bill-section {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: baseline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

.cancel-btn {
    cursor: pointer;
    color: red;
    background-color: #ffffff !important;
}

.denominations {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.denominations_label {
    align-content: center;
    text-align: center;
}

.add-new-btn {
    display: inline-block;
    background: #ddd;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ccc;
}

.generate-btn {
    background-color: #4CAF50;
    color: white;
}