body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('https://img.freepik.com/free-photo/close-up-baker-bakery-shop_23-2149233716.jpg?t=st=1735841909~exp=1735845509~hmac=ed42dbdaa0acf81c249a8b13b1e6e8cdf14d8d781ade5ebf4ea81ecc506235dc&w=1380'); Replace with your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1250px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bill-section {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: baseline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

.cancel-btn {
    cursor: pointer;
    color: red;
    background-color: #ffffff !important;
}

.denominations {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.denominations_label {
    align-content: center;
    text-align: center;
}

.add-new-btn {
    display: inline-block;
    background: #ddd;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ccc;
}

.generate-btn {
    background-color: #4CAF50;
    color: white;
}


.menu {
    overflow-x: hidden;
    position: relative;
    left: 0;
    background: white;
    padding: 0px;
  }
  
  .menu-open {
    left: 17%;
  }
  
  .menu-open .menu-side {
    left: 0;
  }
  
  .menu-side,
  .menu {
    -webkit-transition: left 300ms ease-in-out;
    -moz-transition: left 300ms ease-in-out;
    transition: left 300ms ease-in-out;
  }
  
  .menu-side {
    background-color: #0a0a0a;
    color: white;
    position: fixed;
    top: 0;
    left: -17%;
    width: 17%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9;
  }
  
  .menu-toggle {
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-side ul {
    padding-top: 0;
    margin: 0;
    padding-left: 0%;
  }
  
  .menu-side ul li {
    list-style: none;
    margin-bottom: 0px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    padding-left: 0px;
  
  }
  
  .menu-side a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #49629a70;
  }
  
  .menu-side a:hover {
    background: #3F7AFF;
    border-left: 3px solid #fff;
  }
  
  .menu-side a:focus {
    background: #3F7AFF;
    border-left: 3px solid #fff;
  }
  
  .menu-side li a img {
    margin-right: 10px;
  }
  
  .menu #content {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
  }
  
  .menu-open #content {
    width: 83%;
    position: relative;
    padding: 10px;
    padding-bottom: 50px;
  }
  
  .menu .header-section {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    padding: 8px 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .menu-open .header-section {
    width: 83%;
    position: fixed;
    right: 0;
    top: 0;
    padding: 8px 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .side_bar_active {
    background-color: #6c777d;
  }